.table_layout{
    -fx-background-color: rgb(255, 255, 255);
}
.table-view{
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to bottom right, #1e549b, #56b2e3);
    -fx-border-radius:8px;
    -fx-padding:0px;
}
.table-view .table-column{
    -fx-alignment:CENTER;
}
.table-view .table-column:first-of-type {
    -fx-border-radius:8px 0 0 0;
}
.table-view .table-column:last-of-type {
    -fx-border-radius:0 0 8px 0;
}

.table-view .column-header-background{
    -fx-background-color:linear-gradient(to bottom right, #1e549b, #56b2e3);
    -fx-background-insets: 0 0 0 0;
    -f-background-radius:8px 8px 0px 0px;
}
.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size:30px;
}
.table-view .column-header .label{
    -fx-text-fill:#fff;
    -fx-font-family:"Arial";
}




.Button_go {
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-radius: 50px 0 0 50px;
    -fx-font-weight: bold;
}
.Button_round_trip {
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-radius: 0 50px 50px 0;
    -fx-font-weight: bold;
}

.Button_go:hover, .Button_round_trip:hover{
    -fx-background-color: rgb(158, 165, 169);
}





.label-title {
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.label-title_T {
    -fx-font-size: 17;
    -fx-font-weight: bold;
    -fx-text-fill: #1b52a8;
}

.button-action {
    -fx-font-size: 14;
    -fx-pref-width: 100;
    -fx-pref-height: 40;
    -fx-background-color: #1b52a8;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 50px;
}

.button-action:hover {
    -fx-background-color: #153d80;
}

.Title-Pane{
    -fx-background-color:linear-gradient(to bottom right, #1e549b, #56b2e3);
    -fx-background-radius: 5px 0 40px 0;
}
.button-add-city{
    -fx-background-color:white;
    -fx-background-radius: 40px;
}
.button-add-city:hover {
    -fx-background-color: #e1d8d8;
}


.chart-pie-label {
    -fx-font-size: 14px;
}
.chart-pie-label-line {
    -fx-stroke: #3498db;
}
.chart-pie-label-fill {
    -fx-fill: #2ecc71;
}

/*
.chart-bar {
    -fx-bar-fill: #3498db;
}

 */
.chart-legend {
    -fx-background-color: #ecf0f1;
}
.chart-legend-item {
    -fx-text-fill: #2c3e50;
}


.white-carts{
    -fx-background-color:#fff;
}

.Pnae-Color-1{
    -fx-background-color: red;
    -fx-background-radius: 10px;
}
.centeredLabel-1{
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: red;
}
.Pnae-Color-2{
    -fx-background-color: #0bde0b;
    -fx-background-radius: 10px;
}
.centeredLabel-2{
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: #0bde0b;
}

.Pnae-Color-3{
    -fx-background-color: #f0f804;
    -fx-background-radius: 10px;
}
.centeredLabel-3{
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: #f0f804;
}
.Pnae-Color-4{
    -fx-background-color: #003cff;
    -fx-background-radius: 10px;
}
.centeredLabel-4{
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: #003cff;
}

.Pnae-Color-5{
    -fx-background-color: #ff8000;
    -fx-background-radius: 10px;
}
.centeredLabel-5{
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: #ff8000;
}

.Barchatclass{
    -fx-background-color:transparent;
    -fx-border-radius:8px;
    -fx-padding:0px;
    -fx-background-color:linear-gradient(to bottom right, #1e549b, #56b2e3);
}

.Barchatclass .chart-plot-background {
    -fx-background-color: rgba(255, 255, 255, 0);
}

.Barchatclass .chart-horizontal-grid-lines,
.Barchatclass .chart-vertical-grid-lines {
    -fx-stroke: transparent;
}

.mainFxmlClass:hover {
    -fx-background-color: linear-gradient(to left, #51879e, #fff);
}


.t-blue-col{
    -fx-text-fill: #003cff;
}
.t-green-col{
    -fx-text-fill: #0ad716;
}
.t-red-col{
    -fx-text-fill: #ff0000;
}

.Add-image-btn{

    -fx-padding: -4px;
    -fx-background-color: #003eff;

    -fx-min-width: 24px;
    -fx-min-height: 24px;

    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
.Add-image-btn:hover{
    -fx-background-color: #4d79ff;
}